doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='Samantha Landen')
    //- link(rel='icon', href=...)
    title Carnival Concert Countdown
    link(href='http://fonts.googleapis.com/css?family=Economica:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../css/style.css')
  body
    h1 The Carnival concert artist will be revealed in...
    div#countdown
      input(type="text" class="dial" id="days")
      input(type="text" class="dial" id="hours")
      input(type="text" class="dial" id="minutes")
      input(type="text" class="dial" id="seconds")

    script(src="../vendor/jquery/dist/jquery.min.js")
    script(src="../vendor/jquery.countdown/dist/jquery.countdown.min.js")
    script(src="../js/knob.min.js")
    script(src="../js/countdown.js")