doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='Samantha Landen')
    //- link(rel='icon', href=...)
    title Carnival Concert Countdown
    link(href='http://fonts.googleapis.com/css?family=Economica:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../css/style.css')
  body
    div#reveal
      h5 The Carnival concert artist is....
      h1#headliner MATT AND KIM
      h5#with with...
      h3#opener RJD2
    footer
      small To apply to be a student opener, send a sample of your music to 
        a(href="mailto:ab+concerts@andrew.cmu.edu") ab+concerts@andrew.cmu.edu